<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="MathLibLog" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>

          <add name="textfileListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="MathLibLog.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>